* {
    box-sizing: border-box;
  }

header {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input[type=text] {
    padding: 12px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 250px;
    height: 45px;
    background: #f1f1f1;
  }

.search-box button {
 float: left;
   /* width: 40px;
   height: 40px; */
   padding: 12px;
   background: rgb(14, 81, 204);
   color: white;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   cursor: pointer;
  }

  .search-box button:hover {
    background: #0b7dda;
  }